# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.env
db.sqlite3
/staticfiles/
/media/
media-backup.tar.gz

# Environment
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log