{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container navbar-inner">
    <a class="navbar-brand me-auto" href="{% url 'core:home' %}"><img src="{% static 'images/CEC LOGO.png' %}" alt="CEC logo" class="navbar-logo"></a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand me-auto" href="{% url 'core:home' %}"><img src="{% static 'images/CEC LOGO.png' %}" alt="CEC logo" class="navbar-logo"></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav mx-auto align-items-lg-center">
          <li class="nav-item"><a class="nav-link{% if active_nav == 'home' %} active{% endif %}" href="{% url 'core:home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'about' %} active{% endif %}" href="{% url 'core:about' %}">About Us</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'services' %} active{% endif %}" href="{% url 'services:list' %}">Services</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'projects' %} active{% endif %}" href="{% url 'projects:list' %}">Projects</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'clients' %} active{% endif %}" href="{% url 'core:clients' %}">Clients | Partners</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'careers' %} active{% endif %}" href="{% url 'core:careers' %}">Careers</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'news' %} active{% endif %}" href="{% url 'news:list' %}">News</a></li>
          <li class="nav-item"><a class="nav-link{% if active_nav == 'contact' %} active{% endif %}" href="{% url 'contact:contact' %}">Contact Us</a></li>
        </ul>
        <a href="{% url 'contact:contact' %}" class="login-button">Get a Quote</a>
      </div>
    </div>
    <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>